<h2 class="events-edit-title">Change your password</h2>

<div class="container" id="deviseForm">
<%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
<div class="card p-3 bg-light">
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="devise-field">
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field_without_bootstrap :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="devise-field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="devise-actions">
    <%= f.submit "Change my password", class:"btn btn-dark" %>
  </div>
</div>
<% end %>

<%= render "devise/shared/links" %>
</div>
