<!DOCTYPE html>
<html>
  <head>
    <title>EventsPlatform</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

    <!-- MapBox JS and CSS  -->

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "rails-ujs" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'home/header' %>
    <% if notice %>
      <%= render 'layouts/notice' %>
    <% elsif alert %>
      <%= render 'layouts/alerts' %>
    <% end %>
    <%= yield %>
    <%= render 'home/footer' %>
  </body>
</html>
